*{
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #000000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    max-width:1200px;
    height: 70vh;
    border: 1px solid white;
    padding:2rem  7rem;



}

.watch-display{
    border-radius: 1200px;
    border: 1px solid #ffffff;
    padding: 5rem;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    
}

.watch-btn{
    display: flex;
    justify-content: space-between;

    margin-top: 40px;


}
#start-btn, #pause-btn, #reset-btn{
    font-size: 1rem;
    font-weight: 400;
    background-color: inherit;
    color: white;
    border-radius: 50%;
    text-align: center;
    border: 1px solid white;
    cursor: pointer;

}
#start-btn{
    padding: 1.5rem;
}
#pause-btn{
   padding: .8rem;
}
#reset-btn{
    padding:.8rem ;
}



